.crew {
	list-style: none;
}

.team-section {
	margin-bottom: 31px;
}

.crew__item {
	width: 30%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-bottom: 68px;
	line-height: 1.6;
}

.crew__avatar {
	/*border-radius: 50%;*/
	clip-path: circle();
	display: inline-block;
	overflow: hidden;
	margin-bottom: 13px;
	width: 163px;
	height: 163px;
}

/*.crew__avatar-pic {
	width: 163px;
	height: 163px;
}*/

.crew__name {
	color: #221f1f;
	font-weight: bold;
	font-size: 18px;
}

.crew__discription {
	margin-top: -9px;
}

.crew__prof {
	color: #1C5BC4;
	font-weight: bold;
	font-size: 14px;
}

.crew__content {
	color: #221f1f;
	font-weight: lighter;
	font-size: 12px;
}
