
.header {
	height: 76px;
	background-color: #1C5BC4;
	margin-bottom: 32px;
}

.logo__img {
	padding: 20px;
}

.contacts {
	font-weight: bold;
	color: #fff;
	float: right;
	padding-top: 13px;
	padding-right: 0;
	text-align: right;
}

.contacts__phone {
	font-size: 21px;
}

.contacts__phone-link {
	color: #fff;
	text-decoration: none;
}

.contacts__schedule {
	font-size: 14px;
	text-decoration: underline;
}

address {
	font-style: normal;
}

button {
	text-decoration: underline;
	background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}