
.crumbs {
	margin-top: -10px;
	margin-left: 30px;
}

.breadcrumbs {
	margin-bottom: 25px;
	margin-top: 
}

.breadcrumbs__item {
	display: inline-block;
}

.breadcrumbs__item:after {
	content: "/";
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
	font-weight: lighter;
	font-size: 14px;
	color: #1c5bc4;
	font-style: italic;
}

.breadcrumbs__link:hover {
	text-decoration: none;
}

.breadcrumbs__link_active {
	text-decoration: none;
	color: #221f1f;
}


.title {
	font-weight: bold;
	font-size: 49px;
	color: #221f1f;
	margin-left: 65px;
}

.title-main {
	margin-top: 120px;
}

.title-team {
	margin-top: -24px;
	margin-bottom: 25px;
}

.maincontent {
	width: 900px;
	float: left;
}

.page-title {
	background-image: url("../../img/clouds.png");
	display: inline-block;
	width: 879px;
	height: 353px;
	overflow: hidden;
	background-repeat: no-repeat;
	margin: -39px auto 0;
	margin-bottom: 1px;
}

.company-section {
	margin-left: 70px;
}

.company-description {
	width: 712px;
}

p {
	font-size: 18px;
	font-weight: lighter;
	color: #221f1f;
	line-height: 1.69;
}

li {
	line-height: 2;
}

.booking-info {
	display: block;
	width: 701px;
	min-height: 116px;
	background-color: #1C5BC4;
	margin-bottom: 53px;
}

.booking-info__text {
	color: #fff;
	font-size: 18px;
	font-weight: lighter;
	padding: 19px 30px;
	line-height: 1.5;
}

.booking-info__application-link
{
	color: #fff;
	font-weight: bold;
}

.booking-info__application-link:hover {
	text-decoration: none;
}

.booking-info__phone-link {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.partners-list {
	margin-left: -63px;
}

.partners {
	margin-top: 12px;
}

.partners__logo {
	display: inline-block;
	width: 242px;
	height: 115px;
	text-align: center;
	vertical-align: baseline;
	position: relative;
}

.partners__img {
	filter: grayscale(100%);
	transition: filter .4s linear;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.partners__img:hover {
	filter: none;
}
